# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Build outputs
lib

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Users Environment Variables
.lock-wscript

# WebStorm settings
.idea

# Cloud9 settings
.c9
